.article {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .article h2 {
    margin-top: 0;
  }
  
  .article img {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .article p {
    margin-top: 0;
  }
  